html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    width: 100vw;
    text-align: center;
}


.container{
    max-width: 1500px;
    margin: 0 auto;
}

.card-container{
    margin: 30px 10px 0 10px;
}

.card{
    height: 755px;
    background-color: #F3F3F3;
    border-radius: 15px;
    margin: 0 auto;
}

.container .card-container:nth-child(1) .card-image{
    background-image: url('/images/Bg.png');
}
.container .card-container:nth-child(2) .card-image{
    background-image: url('/images/Bg-2.png');
}
.container .card-container:nth-child(3) .card-image{
    background-image: url('/images/Bg-3.png');
}

.card-image{
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}


.card-image p{
    color: #FFFFFF;
    font-size: 24px;
    padding: 130px 0;
    text-transform: uppercase;
}

.card-body{
    font-size: 25px;
    font-weight: 400;
    text-align: start;
    margin-top: 30px;
    margin: 30px 15px 0 15px;
}

.card-footer{
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}


@media screen and (min-width: 575px) {

    .card{
        height: 650px;
        width: 100%;
    }

    .card-footer{
        margin-top: 50px;
        font-size: 25px;
    }
}


@media screen and (min-width: 811px) {
    .container{
        margin-top: 105px;
    }
  
    .card-container{
        display: inline-block;
        width: 45%;
        margin: 0;
        padding: 25px;
    }

    .card{
        height: 800px;
    }
    
    .card-footer{
        font-size: 25px;
    }
}



@media screen and (min-width: 1200px) {

    .card-container{
        display: inline-block;
        width: 33%;
        margin: 0;
    }

    .card-body{
        height: 240px;
        margin: 30px 15px 30% 15px;
    }
}